
.custom-font-2{
    font-size: 1.3rem;
    color: #0E1515;
}

.custom-font-3{
    font-size: 1.0rem;
    font-weight: 400!important;
}
.text-muted-2{
    color: $custom_text_muted;
}
.text-muted-3{
    color: #1b5381!important;
}