
/* Hide the browser's default radio button */
  .card input {
    @include hideRadioButton();
  }
/* Create a custom radio button */
.card .rd {
  position: absolute;
  top: 5px;
  right: 5px;
  margin: 5px;
  height: 25px;
  width: 25px;
/* On mouse-over, add a grey background color */
.rd:hover {
  background-color: $hub_color_light;
}
/* Create the indicator (the dot/circle - hidden when not checked) */
.rd:after {
  content: "";
  position: absolute;
  display: none;
}
}


/* When the radio button is checked, add a blue background */
input:checked ~ .rd {
  background-color: $hub_color_deep;
/* Show the indicator (dot/circle) when checked */
    .card input:checked ~ .rd:after {
    display: block;
    }
}



/* Hide the browser's default radio button on the modal*/
.modal input {
    @include hideRadioButton();
}
/* Create a custom radio button on the modal*/
.modal .rd2 {
  position: absolute;
  top: 2px;
  left: -10px;
  margin: 0px;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 1.5px solid $border_color2;
  background-color: transparent;

  
}   
.rd2:hover {
    background-color: $hub_color_light;
}
    /* Show the indicator (dot/circle) when checked on the*/  
.modal input:checked ~ .rd2:after {
    @include showStyleIndicator();
}
    /* When the radio button is checked, add a blue background */
input:checked ~ .rd2 {
    background-color: $hub_color_deep;
    padding: 5px;
}

/* Style the indicator (dot/circle) */
.card .rd:after {
    @include showStyleIndicator();
}
