$hub_color_deep: #009D95;
$white: #fff;
$black: black;
$light_ash_color: #fafafa;
$border_color: #efefef;
$border_color2: #b3cfce;
$hub_color_light: #01c7b1;
$color_inherit: inherit;
$text_deco: none;
$custom_text_muted:  #636a71!important;

$hub_background_color: $hub_color_light;
$form_input_b: $light_ash_color;
$form_input_border: $border_color;
$custom_btn_color: $hub_color_light;
